@font-face {
  font-family: 'IBM Plex Serif';
  src:
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff)
      format('woff'),
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.ttf)
      format('truetype');
  font-weight: bold; /* добавляет начертание bold для этого шрифта */
}

@font-face {
  font-family: 'Ubuntu';
  src:
    url(https://pictures.s3.yandex.net/fonts/ubuntu.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/ubuntu.woff)
      format('woff'),
    url(https://pictures.s3.yandex.net/fonts/ubuntu.ttf)
      format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Istok Web';
  src:
    url(https://pictures.s3.yandex.net/fonts/istokregular.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/istokregular.woff)
      format('woff'),
    url(https://pictures.s3.yandex.net/fonts/istokregular.ttf)
      format('truetype');
  font-weight: normal;
}